@charset "UTF-8";
#index {
    background-image: url(../img/背景1.jpg);
    animation-fill-mode: backwards;
    animation-iteration-count: infinite;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
main{
    font-family: serif;
}
.flex{
    display: flex;
}

.flex .text{
    margin: 0 650 0 20px;
    padding: 0;
}
.text p{
    font-size: 18px;
}
.text h2{
    font-size: 28px;
}
.text h3{
    font-size: 24px;
}
.image img{
    width: 300px;
    height: 375px;
    object-fit: contain;
    padding: 0%;
}
#Character{
    border: solid 3px rgb(60, 239, 206);
}
#Character ul li a{
    color: rgb(60, 239, 206);
    font-size: 20px;
}
#flex{
    display: flex;
    justify-content: space-around;
}
#wrap_Chara{
    background-color: #ff891b;
    margin-top: 220px;
    padding: 35px 60px;
}